<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058153278944-0fshpv136qtns6tql138j4uq8vmvih1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058153278944-0fshpv136qtns6tql138j4uq8vmvih1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAgydg9ELwIObcse4LhEkohcSKVOqcquhY</string>
	<key>GCM_SENDER_ID</key>
	<string>1058153278944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kemalekren.DemoFirestore</string>
	<key>PROJECT_ID</key>
	<string>demofirestore-a3adf</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirestore-a3adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058153278944:ios:ca7755f76e3d323e05cf85</string>
</dict>
</plist>